<a href="https://colab.research.google.com/github/shiv4ngi/Day1Task/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas(Day4)

In [0]:
import pandas as pd
import numpy as np          #importing libraries

In [3]:
#object creation
a= [12,32,45,23,43,72]
s= pd.Series(a)
print(s)

0    12
1    32
2    45
3    23
4    43
5    72
dtype: int64

In [6]:
planets = ["Mercury","Venus","Uranus","Saturn","Earth","Jupiter"]
p = pd.Series(planets)
print(p)

0    Mercury
1      Venus
2     Uranus
3     Saturn
4      Earth
5    Jupiter
dtype: object

**Attribues**

In [7]:
p.index

RangeIndex(start=0, stop=6, step=1)

In [8]:
p.values

array(['Mercury', 'Venus', 'Uranus', 'Saturn', 'Earth', 'Jupiter'],
      dtype=object)

In [9]:
p.dtype

dtype('O')

**Methods**

In [10]:
marks= [56,38,49,58,95,74,83,28,39,49]
m= pd.Series(marks)
print(m)

0    56
1    38
2    49
3    58
4    95
5    74
6    83
7    28
8    39
9    49
dtype: int64

In [11]:
m.sum()

569

In [12]:
m.mean()

56.9

In [13]:
m.count()

10

In [15]:
m.idxmax()

4

**Reading CSV file**

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
w = pd.read_csv("drive/My Drive/weather_data.csv")

In [28]:
w.head(5)   #top 5 rows

        day  temperature  windspeed  event
0  1/1/2017         32.0        6.0   Rain
1  1/4/2017          NaN        9.0  Sunny
2  1/5/2017         28.0        NaN   Snow
3  1/6/2017          NaN        7.0    NaN
4  1/7/2017         32.0        NaN   Rain

In [29]:
w.tail()      #bottom 5 rows

         day  temperature  windspeed   event
4   1/7/2017         32.0        NaN    Rain
5   1/8/2017          NaN        NaN   Sunny
6   1/9/2017          NaN        NaN     NaN
7  1/10/2017         34.0        8.0  Cloudy
8  1/11/2017         40.0       12.0   Sunny

In [30]:
#creating a new column
w["Humidity"]= ["High","High","Low","Medium","Medium","High","Low","Low","High"]       

w

         day  temperature  windspeed   event Humidity
0   1/1/2017         32.0        6.0    Rain     High
1   1/4/2017          NaN        9.0   Sunny     High
2   1/5/2017         28.0        NaN    Snow      Low
3   1/6/2017          NaN        7.0     NaN   Medium
4   1/7/2017         32.0        NaN    Rain   Medium
5   1/8/2017          NaN        NaN   Sunny     High
6   1/9/2017          NaN        NaN     NaN      Low
7  1/10/2017         34.0        8.0  Cloudy      Low
8  1/11/2017         40.0       12.0   Sunny     High

In [31]:
#insertting a column at certain location

w.insert(2, column="New_column", value="blank")
w

         day  temperature New_column  windspeed   event Humidity
0   1/1/2017         32.0      blank        6.0    Rain     High
1   1/4/2017          NaN      blank        9.0   Sunny     High
2   1/5/2017         28.0      blank        NaN    Snow      Low
3   1/6/2017          NaN      blank        7.0     NaN   Medium
4   1/7/2017         32.0      blank        NaN    Rain   Medium
5   1/8/2017          NaN      blank        NaN   Sunny     High
6   1/9/2017          NaN      blank        NaN     NaN      Low
7  1/10/2017         34.0      blank        8.0  Cloudy      Low
8  1/11/2017         40.0      blank       12.0   Sunny     High

In [32]:
#dropping all the missing rows with missing values

w.dropna()

         day  temperature New_column  windspeed   event Humidity
0   1/1/2017         32.0      blank        6.0    Rain     High
7  1/10/2017         34.0      blank        8.0  Cloudy      Low
8  1/11/2017         40.0      blank       12.0   Sunny     High

In [33]:
p=pd.read_csv("drive/My Drive/weather_data.csv",usecols=['event'],squeeze=True)
p

0      Rain
1     Sunny
2      Snow
3       NaN
4      Rain
5     Sunny
6       NaN
7    Cloudy
8     Sunny
Name: event, dtype: object

In [34]:
p.value_counts()

Sunny     3
Rain      2
Cloudy    1
Snow      1
Name: event, dtype: int64

In [35]:
p.value_counts(ascending=True)

Snow      1
Cloudy    1
Rain      2
Sunny     3
Name: event, dtype: int64